	body
	{
		/* Background pattern from Subtle Patterns */
		background-image:url("images/zigzag.png");
		color:white;
		font-family: 'IM Fell DW Pica', serif;
	}
	#container
	{
		width: 100%;
	
		border: 1px solid #424242;
	}
	#logo
	{
		background-color:black;
		color: white;
		text-align: center;
		padding:10px;
		font-size: 30px;
		border-bottom: 1px solid #424242;
	}
	
	#content
	{
		width: 75%;
		float:left;
		color:white;
		padding:15px;
		background-color:#4d0000;
		image-align: center;
		margin-bottom: 1%;
		margin-top: 1%;
		height: 1200px;
		image-align:center;
		border: 1px solid #424242;
	}
	#pizzadnia
	{
		
		border: 1px solid #424242;
	}
	#zamow
	{
		width: ;
		background-color: black;
		
		height: 200px;
		border: 1px solid #424242;
		
	}
	
	#ad
	{
		
		float:left;
		background-color:black;
		margin: 1%;
		height: 1200px;
		width: 20%;
		
		border: 1px solid #424242;
	}
	#footer
	{
		clear: both;
		padding:10px;
		text-align: center;
		color:white;
		background-color: black;
		border: 1px solid #424242;
	}	
	#mainmenu
	{
		background-color: #000000;
		font-size:28px;
		
		<!--border: 1px solid #424242;-->
	}
	.option
	{
		float:left;
		width: 15%;
		padding: 1%;
		margin: 4px;
		<!--border-right: 1px solid #263238;-->
	}
	.option:hover
	{
		background-color:#263238;
		cursor: pointer;
	}