	body
	{
		/* Background pattern from Subtle Patterns */
		background-image:url("images/zigzag.png");
		color:white;
		font-family: 'IM Fell DW Pica', serif;
	}
	#container
	{
		width: 100%;
	
		
	}
	#logo
	{
		background-color:black;
		color: white;
		text-align: center;
		padding:10px;
		font-size: 30px;
		border-bottom: 1px solid #424242;
	}
	
	#content
	{
		border:none;
		width: 75%;
		float:left;
		color:white;
		background-color:#4d0000;
		margin-left:1%;
		margin-bottom: 1%;
		margin-top: 1%;
		height: 40%;
		
		
	}
	#pizzadnia
	{
		
		
		padding:1px;
		margin-bottom:0px;
		margin-top:0px;
		margin-right:0px;
		margin-left:0px;
	}
	#zamow
	{
		width:100% ;
		background-color: black;
		
		height: 200px;
		
		
	}
	
	#ad
	{
		border:none;
		float:left;
		background-color:#424242;
		margin: 1%;
		height: 40%;
		width: 22%;
		
		
		
		
	}
	#footer
	{
		clear: both;
		padding:10px;
		text-align: center;
		color:white;
		background-color: black;
		border-top: 1px solid #424242;
	}	
	#mainmenu
	{
		background-color: #000000;
		font-size:28px;
		
		<!--border: 1px solid #424242;-->
	}
	.option
	{
		
		float:left;
		height: 32px;
		width: 12%;
		padding: 1%;
		margin: 2px;
		<!--border-right: 1px solid #263238;-->
	}
	.option:hover
	{
		height: 32px;
		background-color:#263238;
		cursor: pointer;
		width: 12%;
	}
	.option2
	{
		float:left;
		width: 20%;
		margin: 2px;
		<!--border-right: 1px solid #263238;-->
	}
	.option2:hover
	{
		background-color:#263238;
		cursor: pointer;
		width: 20%;
	}
	
	a.button1
	{
		background-color: 	#B53721; 
    border: none;
	width:95.5%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
    cursor: pointer;
	border-radius:0%;
	webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
		
		
	}
	
	a.button1:hover
	{
		color:black;
		background-color: #AA6E39;
		cursor: pointer;
		
	}
	
	#menupizzy
	{
		border:none;
		width: 75%;
		float:left;
		color:white;
		background-color:#4d0000;
		margin-left:1%;
		margin-bottom: 1%;
		margin-top: 1%;
		height: 40%;
	}
	#onas
	{
		border:none;
		width: 75%;
		float:left;
		color:white;
		background-color:#4d0000;
		margin-left:1%;
		margin-bottom: 1%;
		margin-top: 1%;
		height: 40%;
	}
	#oprojekcie
	{
		border:none;
		text-align:center;
		width: 800px;
		 border-top-left-radius:12px 20px;
  		border-top-right-radius:14px 22px;
  		border-bottom-right-radius:16px 24px;
 		 border-bottom-left-radius:18px 26px;
		color:white;
		background-color:#4d0000;
		margin: auto;
		margin-top: 1%;
		height: 1580px;
		padding-top:15px;
 		 padding-right:15px;
 		 padding-bottom:5px;
 		 padding-left:15px;
	}
	table
	{
		border:1px solid black;
		border-collapse:collapse;
		width:100%;
	}
	th,td
	{
		border:1px dotted black;
		border-collapse:collapse;
		padding:15px;
		text-align:center;
		
	}
	
	#normal
	{	
	background-color:#4d0000;
	}
	#orange
	{
		background-color:#AA7339;
	}
	
	#brown
	{
		background-color:#954707;
	}
	#green
	{
		background-color:#2D6917;
	}
	#alternative
	{
		background-color:#669933;
	}
	#dnia
	{
		background-color:#C65874;
	}
	#head
	{
		font-size:230%;
		background-color:#4d0000;
	}
	