
body
{
	background-image:url("./../images/ananas.jpEg");
	background-position: top;
	font-family: 'IM Fell DW Pica', serif;

#container
{
	
}


#menu
{
	
	
}

#logo
{
	
}

#content
{
	
	
}

#footer
{
	
	
}
.


