{% extends 'menu/base.html' %}
{% load staticfiles %}

{% block body %}

    <div id="order">
		<div id="order_content">
			<h1>Nasze pizze:</h1>
			<hr>

			<h2>Margherita - <i>sos pomidorowy</i></br>
				<b>14PLN</b>, <b>18PLN</b>, <b>25PLN</b></h2>
			<h2>Fungi - <i>sos pomidorowy, pieczarki</i></br>
				<b>+15PLN</b>, <b>+19PLN</b>, <b>+25PLN</b></h2>
			<h2>Margherita - <i>sos pomidorowy</i></br>
				<b>14PLN</b>, <b>18PLN</b>, <b>25PLN</b></h2>
			<h2>Fungi - <i>sos pomidorowy, pieczarki</i></br>
				<b>+15PLN</b>, <b>+19PLN</b>, <b>+25PLN</b></h2>
			<h2>Margherita - <i>sos pomidorowy</i></br>
				<b>14PLN</b>, <b>18PLN</b>, <b>25PLN</b></h2>
			<h2>Fungi - <i>sos pomidorowy, pieczarki</i></br>
				<b>+15PLN</b>, <b>+19PLN</b>, <b>+25PLN</b></h2>
			<h2>Margherita - <i>sos pomidorowy</i></br>
				<b>14PLN</b>, <b>18PLN</b>, <b>25PLN</b></h2>
			<h2>Fungi - <i>sos pomidorowy, pieczarki</i></br>
				<b>+15PLN</b>, <b>+19PLN</b>, <b>+25PLN</b></h2>

			<hr>
			<h2>Rozmiary pizz: <br/>
				<b>25cm</b>, <b>35cm</b>, <b>40cm</b></h2>
			</h2>
			
		</br></br></br>
		</div>
		<div id="order_menu">
			<h1 style="display: block; margin-top: 0px; width: 100%; background-color: #C72100; height: 85px; line-height: 85px; font-size: 160%;">Twoje zamówienie:</h1>

			<p style="color: #000; font-size: 130%;">
			koszyk pusty</br><hr></p>
			<p style="color: #000; font-size: 130%;">
			cena: <b style="font-family: Ariel;">0 PLN</b>
				</br></p>


			<a href="" class="order_button">Zamów online</a>
		</div>
	</div>

{% endblock %}