{% extends 'menu/base.html' %}
{% load staticfiles %}

{% block body %}

    <div id=menupizzy>

			<h1>MENU</h1>
			<table>
					<tr  id=head>
						<th>Nazwa</th>
						<th>Składniki</th>
						<th>Mała</th>
						<th>Średnia</th>
						<th>Duża</th>
					</tr>

					<tr id=orange>
						<td>Margherita</td>
						<td>Sos pomidorowy</td>
						<td></td>
						<td></td>
						<td></td>

					</tr>
					<tr id=orange>
						<td>Funghi</td>
						<td>Sos pomidorowy, pieczarki</td>
						<td></td>
						<td></td>
						<td></td>

					</tr>
					<tr id=orange>
						<td>Vegetariana</td>
						<td>sos pomidorowy, pieczarki, papryka, cebula, kukurydza, pomidor</td>
						<td></td>
						<td></td>
						<td></td>

					</tr>
					<tr>
						<td>Cappriciosa</td>
						<td>sos pomidorowy, szynka, pieczarki</td>
						<td></td>
						<td></td>
						<td></td>

					</tr>
					<tr id=dnia>
						<td>Don Ananas(szef kuchni poleca)</td>
						<td>Sos pomidorowy, ananas, kurczak, ananas, szynka, ananas, ananas, ananas</td>
						<td></td>
						<td></td>
						<td></td>

					</tr>
					<tr>
						<td>Bolonia</td>
						<td>Sos pomidorowy, Ser, Mięso mielone, Szynka, Cebula, Czosnek, Oregano</td>
						<td></td>
						<td></td>
						<td></td>

					</tr>
					<tr>
						<td>Roma</td>
						<td>Sos pomidorowy, Ser, Majonez, Szynka, Salami, Kukurydza, Oregano</td>
						<td></td>
						<td></td>
						<td></td>

					</tr>
					<tr>
						<td>La Bella</td>
						<td>Sos pomidorowy, Ser, Pieczarki, Szynka, Ananas, Kurczak, Oregano</td>
						<td></td>
						<td></td>
						<td></td>

					</tr>
					<tr>
						<td>Hawajska</td>
						<td>sos pomidorowy, szynka, ananas</td>
						<td></td>
						<td></td>
						<td></td>

					</tr>
					<tr>
						<td>Pepperoni</td>
						<td>sos pomidorowy, kiełbasa pepperoni</td>
						<td></td>
						<td></td>
						<td></td>

					</tr>
					<tr>
						<td>Primavera</td>
						<td>sos pomidorowy, boczek, kiełbasa pepperoni, cebula</td>
						<td></td>
						<td></td>
						<td></td>

					</tr>
					<tr id=orange>
						<td>Mozarella</td>
						<td>Sos pomidorowy, mozarella</td>
						<td></td>
						<td></td>
						<td></td>

					</tr>
					<tr id=orange>
						<td>Szpinakowa</td>
						<td>Sos pomidorowy, Gorgonzola, szpinak</td>
						<td></td>
						<td></td>
						<td></td>

					</tr>
					<tr id=brown>
						<td>Salami</td>
						<td>Sos pomidorowy, pikantne włoskie salami</td>
						<td></td>
						<td></td>
						<td></td>

					</tr>
					<tr id=brown>
						<td>Parmeniana</td>
						<td>Sos pomidorowy, szynka parmeńska</td>
						<td></td>
						<td></td>
						<td></td>

					</tr>
					<tr id=orange>
						<td>Rukoliana</td>
						<td>Sos pomidorowy, suszone pomidory, rukola</td>
						<td></td>
						<td></td>
						<td></td>

					</tr>
					<tr id=brown>
						<td>Ricotta</td>
						<td>Sos pomidorowy, szpinak, ser ricotta, pomidory koktajlowe</td>
						<td></td>
						<td></td>
						<td></td>

					</tr>
					<tr id=brown>
						<td>Kabanita</td>
						<td>Sos pomidorowy,Ser, Kiełbasa, Boczek, Cebula, Oregano </td>
						<td></td>
						<td></td>
						<td></td>

					</tr>
					<tr id=green>
						<td>Boczkokurak</td>
						<td>Sos, Ser, Pieczarki, Szynka, boczek, kurczak</td>
						<td></td>
						<td></td>
						<td></td>

					</tr>
					<tr id=green >
						<td>boczkokebab</td>
						<td>Sos, Ser, Pieczarki, Szynka, boczek, kurczak</td>
						<td></td>
						<td></td>
						<td></td>

					</tr>
					<tr id=green>
						<td>Uczta Drwala</td>
						<td>Sos pomidorowy, Kiełbasa, kurczak, szynka, boczek, kebab</td>
						<td></td>
						<td></td>
						<td></td>

					</tr>
					<tr id=green>
						<td>Weganti</td>
						<td>Sos pomidorowy, kurczak, boczek, kebab, szynka, jajko, ser feta, kiełbasa, pomidor, kukurydza</td>
						<td></td>
						<td></td>
						<td></td>

					</tr>






			</table>

			<table>
				<tr >
					<th colspan="4">Legenda</th>
				</tr>
				<tr>
					<td id=brown>Ciasto razowe</td>
					<td id=dnia>Pizza dnia</td>
					<td id=green> Dużo mięsa :)</td>
					<td id=orange>Wegetariańskie</td>

				</tr>
			</table>

	</div>

{% endblock %}