	body
	{
		background-color:black;
		color:white;
		font-family: 'IM Fell DW Pica', serif;
	}
	#container
	{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	#logo
	{
		background-color:black;
		color: white;
		text-align: center;
		padding:10px;
		font-size: 30px;
	}
	#zamowienia
	{
		width: 120px;
		float:left;
		background-image: #003300;
		height: 700px;
	}
	#content
	{
		width: 70%;
		float:left;
		color:white;
		padding:15px;
		background-color:DarkRed;
		image-align: center;
		margin-left: 10px;
		margin-right: 10px;
		min-height: 690px;
		image-align:center;
	}
	#ad
	{
		width: 100px;
		float:left;
		height: 700px;
	}
	#footer
	{
		clear: both;
		padding:10px;
		text-align: center;
		color:white;
		background-color: black;
	}	
	#mainmenu
	{
		background-color: #003300;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.option
	{
		float:left;
		width: 23%;
		padding: 1%;
	}
	.option:hover
	{
		background-color:forestgreen;
		cursor: pointer;
	}