{% extends 'info/base.html' %}
{% load staticfiles %}

{% block body %}

    <div id=oprojekcie>

			<h1>O projekcie</h1>
			Ta strona powstała w ramach projektu na przedmiot Informatyczne narzędzia pracy grupowej, tzw. INPG. Jego celem jest nauka działania w zespole, zgodnie z teorią scruma,
			a także wykorzystywania do tego narzędzi takich jak Github czy Trello. O to efekt naszego miesięcznego sprintu podczas, którego od podstaw uczyliśmy się tworzyć
			strony internetowe, codziennie robiliśmy daily scrumy i commitowaliśmy nowe i ulepszony fragmenty kodu. Właścicielem produktu jest nasz prowadzący - Panie i Panowie - Artur Pańszczyk. </br></br>
			<center><img src="./css/images/working.png" width="50%"/></center></br>
	</div>

{% endblock %}